<html>
  <head>
    <title>Live</title>
    <link rel="stylesheet" type="text/css" href="css/stickies.css" />
    <script type="text/javascript" src="js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.8.14.custom.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">var hosturl = '<%= hosturl %>';</script>
    <script type="text/javascript" src="/js/sticky.js"></script>
    <script type="text/javascript" src="/js/stickies.js"></script>    
    <script type="text/javascript" src="/js/message_handler.js"></script>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  </body>
</html>
